# The path your pictures reside in, relative to files folder
pictures_path: photos

# How are the folders structured? Possible values are
# - "date" for a folder structure like "2019/02/..."
# - "flat" for all folders just under the pictures_path
folder_structure: flat